<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892999471150-mke33fopt8o79psd0cs2us02h635pahd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892999471150-mke33fopt8o79psd0cs2us02h635pahd</string>
	<key>API_KEY</key>
	<string>AIzaSyCO8urkGMInfWAIiVFuUQx1m6B7UPNXgbY</string>
	<key>GCM_SENDER_ID</key>
	<string>892999471150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ee.masoov.apartment</string>
	<key>PROJECT_ID</key>
	<string>ku-kesk-vaela-8</string>
	<key>STORAGE_BUCKET</key>
	<string>ku-kesk-vaela-8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892999471150:ios:5c162b57fa96471c768fbf</string>
</dict>
</plist>